@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: Muli, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #555;
  font-family: Muli;
}
textarea,
input,
button {
  font-family: Muli;
}

/* app css */

.App {
  color: #555;
}

.App-header {
  margin: 0 auto;
  display: flex;
}
.App-header a {
  padding: 2rem;
  display: inline-block;
  /* color: #fff; */
}
.App-header .lead {
  flex: 1
}
.App-header .trail {
  display: none;
}
.App-header .trail a {
  display: flex;
  line-height: 25px;
}
.App-header .ham img {
  filter: invert(100%);
}
.App-header .ham button {
  padding: 27px;
  background: none;
  border: none;
}
.App-header.open .trail {
  display: flex;
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  background: #fff;
}
.App-header .wttl a {
  font-size: 30px;
  padding: 1.5rem;
}
.App-hc .stripes {
  height: 6px;
  background-image: url(https://s3.ap-south-1.amazonaws.com/thedcevents.com/assets/stripes.png);
}

#map {
  height: 500px;
}

.About {
  text-align: center;
  margin: 0 auto;
  padding: 6rem 2rem;
}
.About > div {
  margin-bottom: 1rem;
}

.Home .landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.Home .landing a {
  border: 1px solid #ccc;
  padding: 1rem;
  color: #fff;
}
.Home .plr {
  margin-bottom: 1rem;
}
.Home .pdc,
.Home .plc {
  flex: 1;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.plr a {
  display: block;
  width: 100%;
}
.Home .pdc div,
.Home .plc div {
  display: inline-block;
  background: rgba(0,0,0,.8);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home .ttl {
  text-align: center;
  padding: 3rem;
  font-size: 25px;
}
.Home .footer {
  background: #333;
  color: #eee;
  padding: 6rem 0;
}
.Home .footer-in {
  margin: 0 auto;
  padding: 0 4rem;
}
.Home .footer .f-l {
  flex: 1;
  margin-bottom: 5rem;
}

.Home .footer .f-l > div,
.Home .footer .f-r > div {
  margin-bottom: 1rem;
}

.Home .footer .hd {
  text-transform: uppercase;
  font-weight: bold;
}

.Home .footer a {
  color: #aaa;
}
.Home .footer a:hover {
  color: #fff;
}
.Home .footer .social {
  margin-left: -10px;
}
.Home .footer .social a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border-radius: 50%;
}
.flt-btn {
  position: fixed;
  z-index: 1001;
  bottom: 2rem;
  right: 2rem;
}
.flt-btn .social {
  display: flex;
  align-items: center;
  height: 100%;
}
.flt-btn .social a div,
.Home .footer .social a div {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-image: url(https://s3.ap-south-1.amazonaws.com/thedcevents.com/assets/social_white.png);
}
.flt-btn .social a div {
  vertical-align: top;
  padding: 0;
}
.flt-btn .social a.wa {
  background: #25D366;
  border-radius: 50%;
  padding: 10px;
}

.Home .footer .social a.fb div {
  background-position: 25px;
}
.Home .footer .social a.in div {
  background-position: 50px;
}
.Home .footer .closer img {
  margin-bottom: 10px;
  width: 100px;
}

.Contact {
  margin: 0 auto;
  padding: 2rem;
}
.Contact button {
  cursor: pointer;
}
.Contact button:active,
.Contact button.actv {
  background: #efefef;
}
.Contact .opt > div,
.Contact .inp {
  margin-bottom: 1rem;
}
.Contact button,
.Contact textarea,
.Contact input {
  background: transparent;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1rem;
  outline: none
}

.Photos {
  padding: 2rem 0;
}
.Photos .phr {
  width: 100%;
  margin: 0 auto;
}
.Photos .phd {
  background: #ccc;
  height: 300px;
  overflow: hidden;
  margin: 0 auto 1rem;
  display: inline-block;
  width: 100%;
}
.Photos .phd img {
  height: 100%;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
@media only screen and (min-width: 400px) {
  .Photos .phd {
    width: 50%;
  }
  .Photos .phd img {
    width: auto;
  }
}
@media only screen and (min-width: 600px) {
  .Contact {
    width: 600px;
  }
  .About {
    width: 600px;
  }
  .Home .plr {
    display: flex;
  }
  .plr a + a {
    margin-left: 10px;
  }
  .App-header {
    max-width: 1200px;
  }
  .App-header .trail {
    display: flex;
  }
  .App-header .ham {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .Photos .phd {
    width: 33.33%;
  }
  .Home .footer-in {
    display: flex;
    width: 800px;
  }
  .Home .footer .f-l {
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .Photos .phd {
    width: 25%;
  }
  .Home .services {
    width: 1200px;
    margin: 0 auto 6rem;
  }
  .Home .events {
    width: 1200px;
    margin: 0 auto;
  }
}